@import '../../Scss/index.scss';

.reply-form {
  display: flex;
  flex-direction: row;
  bottom: 0;
  position: absolute;
  width: 100vw;

  &__input {
    background-color: pink;
    // width: calc(100vw - 50px)
    width: 100vw;
  }

  &__btn {
    width: 50px;

    &:disabled {
    background-color: $light-grey;
    }

    &:enabled {
      @include gradient;
    }
  }
}
