@import '../../Scss/index.scss';

.reply {
  &__replier {
    font-size: 14px;
  }

  &__comment {
    margin: 0 20px 10px 20px;
    padding: 10px 20px 10px 20px;
    @include gradient;
    border-radius: 7px;
    border-top-left-radius: 0;
    @include shadow;
  }
}