.searchbar {
  height: 3em;
  // width: 99%;
  // margin: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(182, 177, 177);
}

.search-input {
  height: 2.3em;
  width: 85%;
  border-right: none;
  border-radius: 20px 0 0 20px;
}

.search-button {
  height: 2.3em;
  border-left: none;
  border-radius: 0 20px 20px 0;
}

.search-image {
  height: 2.3em;
}