@import '../../Scss/index.scss';

.post {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
  // border-bottom: 1px solid $light-grey;
  line-height: 1.2;
  width: 100vw;
}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-info-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

.user-info {
  margin-top: 20px;

  &__photo {
  height: 3em;
  margin-top: 10px;
  }

  &__name {
  font-size: 15px;
  }

  &__date {
    margin: 0;
    font-size: 10px;
  }
}

.bookmark {
  height: 22px;
  background: transparent;
  border: none;
  margin-right: 5px;

  &__bookmark {
  height: 22px;
  }
}

.footer {
  display: flex;
  align-content: center;
  margin-bottom: 0;
  width: 40%;
  display: flex;
  justify-content: space-between;

  &__button {
    width: 45px;
    background: transparent;
    border: none;
  }
}

.post-footer {
  margin: 7px 0 7px 0;
}

.icon {
  width: 30px;
  margin: 10px;
}

.post-title, 
.post-content,
.user-info__photo, 
.user-info {
  @include margin;
}

