.post {
  height: 15em;
  min-height: 15em;
  width: 99%;
  margin: 5px 0 0 0;
  background-color: white;
  border-radius: 5%;
  box-shadow: 1px 2px 5px #333740;
}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post-user-info {
  display: flex;
  flex-direction: row;
}

.user-photo {
  height: 3em;
  margin: 10px 0 0 7px;
}

.user-info {
  margin: 20px 0 0 7px;
}

.name {
  margin: 0;
  font-size: 15px;
}

.date {
  margin: 0;
  font-size: 10px;
}

.bookmark-button {
  height: 22px;
  background: transparent;
  border: none;
  margin: 5px 7px 0 0;
}

.footer-button {
  height: 40px;
  background: transparent;
  border: none;
}

.bookmark {
  height: 22px;
}

.icon {
  height: 30px;
  width: 30px;
  background: transparent;
}

.post-title, .post-content {
  margin-left: 7px
}

.post-content {
  min-height: 6em;
}

footer {
  bottom: 0;
  margin-bottom: 0;
}