.nav-bar {
  width: 100%;
  height: 3em;
  display: flex;
  background-color: #FFD435;
  justify-content: space-around;
  align-items: center;
}

.nav-button {
  height: 2em;
  background-color: #FFD435;
  border: none;
}

.nav-button-image {
  height: 2em;
}